Flask==3.1.1
python-dotenv==1.0.0
APScheduler==3.11.0
pymongo==4.13.2
certifi==2025.4.26
msal==1.32.3
pydub==0.25.1
librosa==0.11.0
numpy==1.26.4
google-api-python-client==2.165.0
google-auth==2.23.3
google-auth-oauthlib==1.0.0
google-cloud-storage==2.14.0
azure-storage-blob==12.19.0
scikit-learn==1.6.1
matplotlib==3.10.0
torch==2.2.2
transformers==4.40.2
tensorflow==2.13.0
requests==2.32.3
bson==0.5.10
